<nav class="members-nav" aria-label="Members section navigation">
  <ul>
    <li><a href="/members/">Members Home</a></li>
    <li><a href="/members/gloucester-preschool-blog/">Pre School Blog</a></li>
    <li><a href="/members/newsletters/">Newsletters</a></li>
    <li><a href="/members/policies/">Policies</a></li>
    <li><a href="/members/risk-assessment/">Risk Assessment</a></li>
    <li><a href="/members/quality-improvement-plan/">Quality Improvement Plan</a></li>
    <li><a href="/members/video-resources/">Video Resources</a></li>
    <li><a href="/members/change-settings/">Change Settings</a></li>
    <li><button class="button" data-identity-action="logout">Log Out</button></li>
  </ul>
</nav>
