{% set folderImages = galleryFolder | getImagesFromFolder %}
{% if folderImages.length %}
<div class="grid-8-gallery">
{% for img in folderImages %}
<div class="galleryimgwrapper">
<a class="group" href="https://ik.imagekit.io/webtactics/gloucester-pre-school/tr:w-1000,h-750,q-80/static/img/{{ img.cdn }}" alt="{{ title }}" title="{{ title }}" data-title="{{ title }}" data-lightbox="{{ title }}">
<img class="galleryimgwrapper-link" src="https://ik.imagekit.io/webtactics/gloucester-pre-school/tr:w-300,h-300,q-80/static/img/{{ img.cdn }}" alt="{{ title }}" title="{{ title }}"></a>
</div>
{% endfor %}
</div>
{% endif %}


