{% set navPages = collections.all | eleventyNavigation %}

<ul class="sidebarnav">
  {% for entry in navPages %}
    {% if entry.children.length and (entry.url == page.url or page.url.startsWith(entry.url)) %}
      {% for child in entry.children %}
        <li{% if child.url == page.url %} class="menuactive"{% endif %}>
          <a href="{{ child.url }}" title="{{ child.title }}" alt="{{ child.title }}">{{ child.title }}</a>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
