<section class="sliderbox hide-for-print">

<div class="home-slide hide-for-print">

<div>
<div class="internalhero three"></div>
</div>


<div>
<div class="internalhero four"></div>
</div>


</div>

<div class="flex-caption internal">
    <h1>{{ title }}</h1>
    </div>

</section>
