<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

<div>
<div class="internalhero rightside"></div>
<div class="sliderhero"> 
<div class="flex-caption left">
<h2><a href="https://ecom.roller.app/loueeenduroandmotocrosscomplex/booknow/en/home" title="Make a booking" alt="Make a booking">Book @ Louee</a></h2>
<div class="flextext"><p><a href="https://ecom.roller.app/loueeenduroandmotocrosscomplex/booknow/en/home" title="Make a booking" alt="Make a booking">Book Ride Passes and Accommodation ></a></p></div>   
</div>                          
</div>

</div>


<div>
<div class="internalhero"></div>
<div class="sliderhero">
<div class="flex-caption left">
<h2><a href="https://waiver.roller.app/loueeenduroandmotocrosscomplex" title="Make a booking" alt="Make a booking">Waivers must be completed prior to arrival</a></h2>
<div class="flextext"><p><a href="https://waiver.roller.app/loueeenduroandmotocrosscomplex" title="Make a booking" alt="Make a booking">Click for waivers ></a></p></div>                           
</div>
</div>

</div>





</div>
</section>

