<div class="fade-in homeboxes">
  
<div class="heading-text"><h2>Learning Environments</h2></div>

<div class="grid-3-homeboxes">
  <!-- box 1 -->
  <div class="homecards">
    <div class="homecard1box">
<a href="/learning-environments/pre-school" title="Pre School">
<img class="lazy" src="https://ik.imagekit.io/webtactics/gloucester-pre-school/uploads/images/Gallery/home-1.jpg?tr=w-300,h-200" alt="Pre School" title="Pre School"><span class="image-overlay"><span class="overlay-icon"><img src="https://ik.imagekit.io/webtactics/gloucester-pre-school/uploads/images/assets/Gloucester-Pre-School-logo-100x100.png"></span></span></a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>Pre School</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink">
          <a href="/products/Changs-Super-Lo-Cal-Wide-Noodles/" alt="Chang's Super Lo-Cal Wide Noodles" title="Chang's Super Lo-Cal Wide Noodles">View product</a>
        </div>
        <div class="flex-captionbutton">
         
      <a href="/learning-environments/pre-school/" class="button success homebox" title="Gloucester Pre School" alt="Gloucester Pre School">View recipe</a>
          </div>
      </div>
    </div>
  </div>
  <!-- end box 1 -->

  <!-- box 2 -->
  <div class="homecards">
    <div class="homecard1box">
<a href="/learning-environments/early-years-learning-centre" title="Early Years Learning">
<img class="lazy" src="https://ik.imagekit.io/webtactics/gloucester-pre-school/uploads/images/Gallery/enrolment.jpg?tr=w-300,h-200" alt="Early Years Learning" title="Early Years Learning"><span class="image-overlay"><span class="overlay-icon"><img src="https://ik.imagekit.io/webtactics/gloucester-pre-school/uploads/images/assets/Gloucester-Pre-School-logo-100x100.png"></span></span></a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>Rice Noodles with Garlic Chilli Oil</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink">
          <a href="/products/Changs-Thai-Style-Rice-Noodles/" alt="Chang's Thai Style Rice Noodles" title="Chang's Thai Style Rice Noodles">View product</a>
        </div>
        <div class="flex-captionbutton">
      
      <a href="/recipes/Rice-Noodles-with-Garlic-Chilli-Oil/" class="button success homebox" title="Rice Noodles with Garlic Chilli Oil" alt="Rice Noodles with Garlic Chilli Oil">View recipe</a>

        </div>
      </div>
    </div>
  </div>
  <!-- end box 2 -->

  <!-- box 3 -->
  <div class="homecards">
    <div class="homecard1box">
<a href="/learning-environments/mobile-supported-playgroup" title="Mobile Playgroup">
<img class="lazy" src="https://ik.imagekit.io/webtactics/gloucester-pre-school/uploads/images/pages/parents/Playgroup-van-2.jpg?tr=w-300,h-200" alt="Mobile Playgroup" title="Mobile Playgroup"><span class="image-overlay"><span class="overlay-icon"><img src="https://ik.imagekit.io/webtactics/gloucester-pre-school/uploads/images/assets/Gloucester-Pre-School-logo-100x100.png"></span></span></a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>View our recipes and get ready to cook!</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink"></div>
        <div class="flex-captionbutton">
            <a href="/recipes/" class="button success homebox" title="View our recipes section" alt="View our recipes section">View recipes</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end box 3 -->


</div>
</div>