<section class="homeblog3">
	<div class="content homeboxcontentlow">
		
<div class="heading-text"><h3>Members Blog</h3></div>
			<div class="box3wrapper">
				{% set postslist = collections['Blog'] | reverse | limit(3) %} 
				{% include "components/postslist-news-3-wide-no-date.njk" %}
			</div>

		<p>If you are a parent or guardian of a child currently enrolled in Gloucester Pre School and would like to become a member, please email <a href="mailto:admin@gloucesterpreschool.com.au">admin@gloucesterpreschool.com.au</a></p>
	</div>
</section>
<div class="pad4rembothwhitebg"></div>