<div class="fade-in homeboxes">
  
<div class="heading-text"><h2>Learning Environments</h2></div>

<div class="grid-3-homeboxes">
  <!-- box 1 -->
  <div class="homecards">
    <div class="homecard1box">
      <a href="/learning-environments/pre-school/" title="Gloucester Pre School" alt="Gloucester Pre School">
        <img src="https:/ik.imagekit.io/webtactics/changs-media/assets/homeboxes/Super-Lo-Cal-Noodle-Chicken-Laksa-400x267_pUonQ_hSk.jpg?updatedAt=1712017108142" alt="Gloucester Pre School" title="Gloucester Pre School" width="400px" height="auto" class="homeboximg">
      </a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>Pre School</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink">
          <a href="/products/Changs-Super-Lo-Cal-Wide-Noodles/" alt="Chang's Super Lo-Cal Wide Noodles" title="Chang's Super Lo-Cal Wide Noodles">View product</a>
        </div>
        <div class="flex-captionbutton">
         
      <a href="/learning-environments/pre-school/" class="button success homebox" title="Gloucester Pre School" alt="Gloucester Pre School">View recipe</a>
          </div>
      </div>
    </div>
  </div>
  <!-- end box 1 -->

  <!-- box 2 -->
  <div class="homecards">
    <div class="homecard1box">
      <a href="/recipes/Rice-Noodles-with-Garlic-Chilli-Oil/" title="Rice Noodles with Garlic Chilli Oil">
        <img src="https:/ik.imagekit.io/webtactics/changs-media/assets/homeboxes/Rice-Noodles-with-Garlic-Chilli-Oil-400x269_qJ1c7V_zN.jpg" alt="Rice Noodles with Garlic Chilli Oil" title="Rice Noodles with Garlic Chilli Oil" width="400px" height="auto" class="homeboximg">
      </a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>Rice Noodles with Garlic Chilli Oil</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink">
          <a href="/products/Changs-Thai-Style-Rice-Noodles/" alt="Chang's Thai Style Rice Noodles" title="Chang's Thai Style Rice Noodles">View product</a>
        </div>
        <div class="flex-captionbutton">
      
      <a href="/recipes/Rice-Noodles-with-Garlic-Chilli-Oil/" class="button success homebox" title="Rice Noodles with Garlic Chilli Oil" alt="Rice Noodles with Garlic Chilli Oil">View recipe</a>

        </div>
      </div>
    </div>
  </div>
  <!-- end box 2 -->

  <!-- box 3 -->
  <div class="homecards">
    <div class="homecard1box">
      <a href="/recipes/" title="View our recipes section">
        <img src="https:/ik.imagekit.io/webtactics/changs-media/assets/homeboxes/Prawn-Pad-See-Ew-1-400x267__hRtdI3Ash.jpg?updatedAt=1712034502244" alt="View our recipes section" title="View our recipes section" width="400px" height="auto" class="homeboximg">
      </a>
    </div>
    <div class="flex-captionwhitebox">
      <div class="flex-captionp">
        <p>View our recipes and get ready to cook!</p>
      </div>
      <div class="flex-captionbuttonbox grid-2-homeboxes">
        <div class="flex-captionprodlink"></div>
        <div class="flex-captionbutton">
            <a href="/recipes/" class="button success homebox" title="View our recipes section" alt="View our recipes section">View recipes</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end box 3 -->


</div>
</div>