<section class="grid-2-columns summary2" >
	{% for post in postslist %}
<summary class="changssummary">


<div class="youtubesummary">
	<div class="recipesvideocontent">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe id="video" class="embed-responsive-item" src="{{ post.data.youtube }}" frameborder="0" allowfullscreen=""></iframe>
		</div>
	</div>
</div>


<div class="sum4title">
<h3 class="sum-title"><a class="eventtitle" href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}"  >{{ post.data.title }}</a></h3>
</div>

	
</summary>
		
	{% endfor %}
</section>


