

<article class="newsletters-wrapper">
	{% for post in postslist %}	
<div class="newsletter-link">
    <a href="{{ post.data.link }}" class="newsletter-link-summary" target="_blank">{{ post.data.title }}</a>
</div> 
{% endfor %}
</article>
		

