 <div class="accordion">




<div class="accordion-item">
    <input id="accordion-trigger-dir" class="accordion-trigger-input" type="checkbox"></input>
      <label class="accordion-trigger" for="accordion-trigger-dir">Director & Nominated Supervisors</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
         

	{% for post in postslist  %}
<div class="accordion-content">
<div class="gridteamwrapper">
<div class="gridteamimage">{% if post.data.image %}<div class="gridteamimg"><img src="https://ik.imagekit.io/webtactics/gloucester-pre-school/tr:w-200,h-200,q-60/static/img/pages/about/team/{{ post.data.image }}" loading="lazy" alt="{{ post.data.title }}" title="{{ post.data.title }}"/></div>{% else %}<div class="gridteamimg"><img src="https://ik.imagekit.io/webtactics/gloucester-pre-school/uploads/images/assets/person-icon-circle.png/tr:w-200,h-200,q-60" alt="{{ post.data.title }}" title="{{ post.data.title }}" ></div>{% endif %} </div>
<div class="gridteamtext"><p><strong>{{ post.data.title }}</strong></p>{% if post.content %}{{ post.content | safe }}{% endif %}</div>
</div>
</div>
{% endfor %}


                


          
            </div> 
          </div>
        </section>
</div>




</div>





