 <div class="accordion top">
	{% for post in postslist  %}



<div class="accordion-item">
    <input id="accordion-trigger-man" class="accordion-trigger-input" type="checkbox"></input>
      <label class="accordion-trigger" for="accordion-trigger-man">Management Committee</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
              <div class="accordion-content">{% if post.data.managementcommittee %}{{ post.content | safe }}{% endif %}</div>
            </div>
          </div>
        </section>
</div>



	{% endfor %}
</div>





