<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
{% block headmeta %}
{% include "components/grid-head.njk" %}
{% endblock %}
	
{% block bodyclass %}<body class=" {{ class }} " >{% endblock %}

{% block offcanvas %}
<nav class="offcanvas">
	<div class="close-nav-wrapper">
		<button class="close-nav">Close Menu X</button>
	</div>

<div id="menu_vert">
	<div class="mobilemenu">
 		{% include "components/grid-nav-side.njk" %}
	</div>
</div>


<div class="grid-2-mobilenav">
	<div class="smalltextwrapper">
		<h3>Follow us @</h3>
	</div>

	<div class="mobilewrapper">
		<ul class="infoboxmobile">
			

			<li>
				<a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/profile.php?id=100063111975994" target="_blank"><svg fill="currentColor" width="26px" height="26px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"/></svg></a>
			</li>

		</ul>
	</div>
</div>

</nav>
{% endblock %}


{% block header %}
<header id="header" class="topbar headerwrapper">
	<div class="hamburger">
		<div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
			<span class="title-bar-title"></span>
		</div>
	</div>
		<div class="navwrapper">
			<div class="logo">
					<a href="/" title="Return to the homepage | {{ title or metadata.title }} | {{ metadata.title }}" id="logo" class="logolink">
<img src="https://ik.imagekit.io/webtactics/gloucesterpreschool/Gloucester-Pre-School-logo-600x600.png" alt="{{ title or metadata.title }} | {{ metadata.title }}" title="{{ title or metadata.title }} | {{ metadata.title }}" width="600px" height="auto">
	</a>
			</div>

		<div class="navrightside hide-for-scroll hide-for-small">
			<div class="navrightsidetopline hide-for-scroll hide-for-small">

			<ul class="infobox">
		

		

		<li>
			<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on Facebook" href="https://www.facebook.com/profile.php?id=100063111975994" target="_blank"><svg fill="currentColor" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"/></svg></a>
		</li>




	<li><a class="newslettersign hide-for-scroll hide-for-small" href="#newsletter" title="Join PMFresh Newsletter">Sign up to our newsletter</a></li>

			</ul>




			</div>
		<div class="navrightsidebottomline hide-for-small">
			<nav class="navbar hide-for-small">
				{% include "components/grid-nav-top.njk" %}
			</nav>
		</div>
		</div>
	</div>

	<div class="pad100"></div>

</header>

{% endblock %}




<div class="headerspace home"></div>


{% block hero %}
{% include "components/grid-hero.njk" %}
{% endblock %}


{% block content %}
<div class="container">
	<main class="content">

		<div class="titlebox">
				
			<h2 class="heading-text">{% if subtitle %}{{ subtitle }}{% else %}{{ title }}{% endif %}</h2>
				
		</div>



<div class="grid-2-7x5-columns">

	<div class="content-left">

		<div class="text">
    		

      			<div class="contentwrapper">
					{{ content | safe }}
				</div>
		</div>

	</div>


	<div class="content-right">

		<div class="sidebarnav">
  			{% include "components/grid-nav-sidebar.njk" %}
		</div>


	</div>
	   

</div>


	</main>
</div>



{% endblock %}

{% block content2 %}{% endblock %}




{% block ctacontent %}
<div class="section cta-content" style="background: url(https://ik.imagekit.io/webtactics/gloucester-pre-school/tr:w-1600,h-800,q-80/uploads/images/Gallery/GPS-climbing.jpg) no-repeat center center;width:100%; background-size:cover;">

<div class="content ctabgcontainer">
	
<div class="right-cta fade-in">
    <div class="inner">

		
			<div class="text">
				<div class="titlebox">
				 	<h3 class="cta-title">Our Vision</h3>
				</div>

				<div class="noindent">
					<p>To be a supportive, nurturing, inclusive educational service where children’s wellbeing is promoted through authentic play experiences. With families and the community, we strive to provide positive futures for our children.</p>
					
				</div>
			</div>
		

	</div>        
</div> 

</div>

</div>

<div class="pad4rembothwhitebg"></div>	
{% endblock %}








{% block content3 %}{% endblock %}




{% block newsletter %}
	<div class="section emailbg" style="background: url(https://ik.imagekit.io/webtactics/gloucesterpreschool/hero/Mud-kitchen-play.jpg) no-repeat center center;width:100%; background-size:cover;">

		<div class="content emailbgcontainer">

			<div class="content emailbox">
				<div class="emailtitle"><a id="newsletter"><h3 class="emailboxh3">Sign up to our newsletter</h3></a></div>
				<p class="whitetext">Be informed and involved.<br>
Subscribe to our newsletter and be kept informed about any changes to service, upcoming events, or chances to be involved.</p>






			<form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="191722FC90141D02184CB1B62AB3DC264B74E952808CB200D8BC61F27AF28712143C55C9F567AA38691DEB3E5E734BAE24819DEA669A3C1D93B6176A2F484E15">
					<div class="grid-5-2-columns">
						<div class="emailbgrowleft">
							<div class="emailbgrowlefttop">
								<label class="custom-field" aria-label="Enter your name">
							<input class="emailbginput" id="fieldName" maxlength="200" name="cm-name" placeholder="Your name" required="" onfocus="if(this.value==this.defaultValue) this.value='';" onblur="if(this.value=='') this.value=this.defaultValue;" type="text">
								</label>
							</div>
							<div class="emailbgrowleftbottom">
								<label class="custom-field" aria-label="Enter your email address">
								<input autocomplete="Email" class="js-cm-email-input qa-input-email emailbginput" id="fieldEmail" maxlength="200" name="cm-ttululd-ttululd" placeholder="Enter your email address" required="" type="email">
								</label>
							</div>
							<div class="hidden emailhidden">
								<label class="custom-field" aria-label="Confirm your email address">
									<input class="hidden emailbginput" id="fieldtyflhl" maxlength="200" name="cm-f-tyflhl" type="text" placeholder="Enter your email address" />
								</label>
							</div>
						</div>
						<div class="emailbgrowright">
						<button class="success fullwidth" type="submit" title="Sign up to our newsletter" alt="Sign up to our newsletter">Subscribe</button>
						<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
						</div>	
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block map %}
<div class="section map white">
	<div class="content mapcontent">

<div class="grid-2-columns">

	<div class="content-left">
		<p><strong>Gloucester Pre School &amp; Early Years Learning Centre</strong><br>
	52 Hume Street&nbsp;Gloucester NSW 2422</p>
	</div>

<div class="content-right">
		<p>Phone: <a title="Call Gloucester Pre-School" href="https:tel:+61265581643" target="_blank">02 6558 1643</a><br>
		Email: <a title="admin@gloucesterpreschool.com.au" href="https:mailto:admin@gloucesterpreschool.com.au">admin@gloucesterpreschool.com.au</a></p>
		</div>

</div>


		
	</div>
	<div class="mapwrapper">
			{% include "components/global/map.html" %}
		</div>
</div>
{% endblock %}




{% block footer %}
<footer class="footernavwrapper"> 
<div class="footernav">  




<div class="footerright">

	<div class="footerrighttopline">
		<div class="footer">
      		<ul class="footer-menu">
          		
				<li><a class="footer-link" href="/about-us/" title="About Gloucester Pre School" alt="About Gloucester Pre School">About</a></li>
				<li><a class="footer-link" href="/parents-information/parents-members-login/" title="Parents & Guardians Login" alt="Parents & Guardians Login">Parents &amp; Guardians Login</a></li>
				<li><a class="footer-link" href="/contact/" title="Contact Gloucester Pre School" alt="Contact Gloucester Pre School">Contact</a></li>
      		</ul>
   		</div>        
	</div>

<div class="footerrightbottomline">
	<p>@ Gloucester Pre School & Early Years Learning Centre {{ helpers.currentYear() }}</p>		
</div>

</div>
	
</div>
</footer>
{% endblock %}





{% include "components/grid-js.njk" %}

</body>
</html>































