{% extends "layouts/grid-default.njk" %}


{% block bodyclass %}<body class=" {{ class }}" >{% endblock %}


{% block hero %}
{% include "components/hero-home.njk" %}
{% endblock %}


{% block content %}

<div class="container">

	<main class="content">


		<div class="text">
			
    		<div class="titlebox">
				
				<h2 class="heading-text">{% if subtitle %}{{ subtitle }}{% else %}{{ title }}{% endif %}</h2>
				
			</div>
      			
				{{ content | safe }}
		</div>

	</main>

{% include "components/homeboxes.html" %}


</div>



{% endblock %}




